@{
    ViewData["Title"] = "Login Failure";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<header>
    <h2>@ViewData["Title"].</h2>
    <p class="text-danger">Unsuccessful login with service.</p>
</header>
