@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<br />
<div asp-validation-summary="All" class="text-danger tab-content"></div>
<div class="row fdap-customer-home-container" role="contentinfo">
    <div class="col-sm-12">
        <div class="form-bootstrapWizard clearfix">
            <div class="px-5 mt-5 fdap-cust-background-screen">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <h5 class="text-center fdap-cust-form-title"><strong>Forgot Password</strong></h5>
                        <div class="row">
                            <form id="my_form" asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="col-sm-offset-1 col-sm-10 col-xs-12">
                                    <div class="form-group has-feedback">
                                        <div class="input-group">
                                            <span class="input-group-addon fdap-cust-input-icons"><i class="fa icon-user fa-fw fa-2x "></i></span>
                                            <input asp-for="Email" class="form-control fdap-input-fields input-lg ng-untouched ng-pristine ng-invalid text-center" maxlength="30" placeholder="Email" placement="top" required pattern="^([0-9A-Za-z#&amp;_.,-/]+[0-9A-Za-z#&amp;_.,-/ ]+)?$">
                                            <i class="form-control-feedback glyphicon"></i>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
            <label asp-for="SendCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select id="SendCode" name="SendCode" aria-invalid="false" class="valid">
                    <option value="Email">Email</option>
                    <option value="Phone">Phone</option>
                </select>
            </div>
        </div>*@

                                    <div class="col-sm-12">
                                        <div class="fdap-cust-footer-margin form-actions no-margin">
                                            <div class="row">
                                                <div class="col-sm-offset-1  col-sm-10 col-xs-12 ">
                                                    <ul class="pager fdap-wizard-footer-button wizard no-margin">
                                                        <li class="next">
                                                            <a class="btn btn-lg fdap-cust-form-title" href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">
                                                                Send
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
</form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
