@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<br />
<br />
<div asp-validation-summary="All" class="text-danger tab-content"></div>
<div class="row fdap-customer-home-container" role="contentinfo">
    <div class="col-sm-12">
        <div class="form-bootstrapWizard clearfix">
            <div class="px-5 mt-5 fdap-cust-background-screen">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <h5 class="text-center fdap-cust-form-title"><strong>Reset Password</strong></h5>
                        <div class="row">
                            <form id="my_form" asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input asp-for="UserId" type="hidden" />
                                <div class="col-sm-offset-1 col-sm-10 col-xs-12">
                                    <div class="form-group has-feedback">
                                        <div class="input-group">
                                            <span class="input-group-addon fdap-cust-input-icons"><i class="fa icon-user fa-fw fa-2x invisible"></i></span>
                                            <input asp-for="Code" class="form-control fdap-input-fields input-lg ng-untouched ng-pristine ng-invalid text-center" maxlength="30" placeholder="Code" placement="top" required pattern="^([0-9A-Za-z#&amp;_.,-/]+[0-9A-Za-z#&amp;_.,-/ ]+)?$">
                                            <i class="form-control-feedback glyphicon"></i>
                                            <span asp-validation-for="Code" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-offset-1 col-sm-10 col-xs-12">
                                    <div class="form-group has-feedback">
                                        <div class="input-group">
                                            <span class="input-group-addon fdap-cust-input-icons"><i class="fa icon-user fa-fw fa-2x invisible"></i></span>
                                            <input asp-for="Password" class="form-control fdap-input-fields input-lg ng-untouched ng-pristine ng-invalid text-center" maxlength="30" placeholder="Password" placement="top" required type="password" pattern="^([0-9A-Za-z#&amp;_.,-/]+[0-9A-Za-z#&amp;_.,-/ ]+)?$">
                                            <i class="form-control-feedback glyphicon"></i>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-offset-1 col-sm-10 col-xs-12">
                                    <div class="form-group has-feedback">
                                        <div class="input-group">
                                            <span class="input-group-addon fdap-cust-input-icons"><i class="fa icon-user fa-fw fa-2x invisible"></i></span>
                                            <input asp-for="ConfirmPassword" class="form-control fdap-input-fields input-lg ng-untouched ng-pristine ng-invalid text-center" maxlength="30" placeholder="Confirm Password" placement="top" required type="password" pattern="^([0-9A-Za-z#&amp;_.,-/]+[0-9A-Za-z#&amp;_.,-/ ]+)?$">
                                            <i class="form-control-feedback glyphicon"></i>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="fdap-cust-footer-margin form-actions no-margin">
                                        <div class="row">
                                            <div class="col-sm-offset-1  col-sm-10 col-xs-12 px-xs-0 px-0">
                                                <ul class="pager fdap-wizard-footer-button wizard no-margin">
                                                    <li class="next">
                                                        <a class="btn btn-lg fdap-cust-form-title" href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">
                                                            Reset
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
