@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2>@ViewData["Title"].</h2>
<p>
    Please get your reset password code via email or phone to reset your password.
</p>
