<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/smartadmin-production.min.css" />
    <link rel="stylesheet" href="~/css/common.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/icomoon-font-style.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <title>@ViewBag.Title</title>
    @RenderSection("styles", required: false)
</head>
<body>
    <header id="header" style="background:linear-gradient(#fabc38, #f89e2f) !important;">
        <div id="logo-group">
            <span id="logo"> <img src="~/images/logo.png" alt="SB"> </span>
        </div>

    </header>
    <div>
        @RenderBody()
    </div>



    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("scripts", required: false)
    }

</body>
</html>
